
CONFIG_3_LEVEL_PGTABLES=y
CONFIG_64BIT=y
CONFIG_ARCH_DEFCONFIG="arch/um/configs/x86_64_defconfig"
CONFIG_ARCH_DMA_ADDR_T_64BIT=y
CONFIG_ARCH_HAS_KCOV=y
CONFIG_ARCH_NO_PREEMPT=y
CONFIG_BASE_SMALL=1
CONFIG_BINFMT_ELF=y
CONFIG_BITREVERSE=y
CONFIG_BLK_DEV_BSG=y
CONFIG_BLK_DEV=y
CONFIG_BLK_SCSI_REQUEST=y
CONFIG_BLOCK=y
CONFIG_BROKEN_ON_SMP=y
CONFIG_BUILD_SALT=""
CONFIG_CC_CAN_LINK=y
CONFIG_CC_HAS_ASM_GOTO=y
CONFIG_CC_HAS_ASM_INLINE=y
CONFIG_CC_HAS_INT128=y
CONFIG_CC_HAS_KASAN_GENERIC=y
CONFIG_CC_HAS_SANCOV_TRACE_PC=y
CONFIG_CC_HAS_STACKPROTECTOR_NONE=y
CONFIG_CC_HAS_WARN_MAYBE_UNINITIALIZED=y
CONFIG_CC_IS_GCC=y
CONFIG_CC_OPTIMIZE_FOR_PERFORMANCE=y
CONFIG_CLANG_VERSION=0
CONFIG_CON_CHAN="xterm"
CONFIG_CONSOLE_LOGLEVEL_DEFAULT=1
CONFIG_CONSOLE_LOGLEVEL_QUIET=1
CONFIG_CON_ZERO_CHAN="fd:0,fd:1"
CONFIG_CPU_SUP_AMD=y
CONFIG_CPU_SUP_CENTAUR=y
CONFIG_CPU_SUP_HYGON=y
CONFIG_CPU_SUP_INTEL=y
CONFIG_CPU_SUP_ZHAOXIN=y
CONFIG_CRC32_SLICEBY8=y
CONFIG_CRC32=y
CONFIG_DEBUG_KERNEL=y
CONFIG_DEFAULT_HOSTNAME="(none)"
CONFIG_DEFAULT_MMAP_MIN_ADDR=4096
CONFIG_DEFAULT_SECURITY_DAC=y
CONFIG_EFI_PARTITION=y
CONFIG_ELFCORE=y
CONFIG_EMBEDDED=y
CONFIG_EXPERT=y
CONFIG_FLATMEM=y
CONFIG_FLAT_NODE_MEM_MAP=y
CONFIG_FRAME_WARN=1024
CONFIG_FUTEX_PI=y
CONFIG_FUTEX=y
CONFIG_GCC_VERSION=70500
CONFIG_GENERIC_CALIBRATE_DELAY=y
CONFIG_GENERIC_CLOCKEVENTS=y
CONFIG_GENERIC_CPU_DEVICES=y
CONFIG_GENERIC_CPU=y
CONFIG_GENERIC_FIND_FIRST_BIT=y
CONFIG_GENERIC_HWEIGHT=y
CONFIG_GENERIC_IRQ_SHOW=y
CONFIG_HAVE_ARCH_AUDITSYSCALL=y
CONFIG_HAVE_ARCH_SECCOMP_FILTER=y
CONFIG_HAVE_ASM_MODVERSIONS=y
CONFIG_HAVE_COPY_THREAD_TLS=y
CONFIG_HAVE_DEBUG_BUGVERBOSE=y
CONFIG_HAVE_DEBUG_KMEMLEAK=y
CONFIG_HAVE_FUTEX_CMPXCHG=y
CONFIG_HAVE_GCC_PLUGINS=y
CONFIG_HAVE_UID16=y
CONFIG_HAVE_VIRT_CPU_ACCOUNTING_GEN=y
CONFIG_HOSTFS=y
CONFIG_HZ=100
CONFIG_HZ_PERIODIC=y
CONFIG_IA32_FEAT_CTL=y
CONFIG_INIT_ENV_ARG_LIMIT=128
CONFIG_INIT_STACK_NONE=y
CONFIG_INLINE_READ_UNLOCK_IRQ=y
CONFIG_INLINE_READ_UNLOCK=y
CONFIG_INLINE_SPIN_UNLOCK_IRQ=y
CONFIG_INLINE_WRITE_UNLOCK_IRQ=y
CONFIG_INLINE_WRITE_UNLOCK=y
CONFIG_KASAN_STACK=1
CONFIG_KERNEL_STACK_ORDER=2
CONFIG_LD_SCRIPT_STATIC=y
CONFIG_LOCALVERSION=""
CONFIG_LOCK_DEBUGGING_SUPPORT=y
CONFIG_LOCKDEP_SUPPORT=y
CONFIG_LSM="lockdown,yama,loadpin,safesetid,integrity"
CONFIG_MESSAGE_LOGLEVEL_DEFAULT=1
CONFIG_MMU=y
CONFIG_MODULES_USE_ELF_RELA=y
CONFIG_MQ_IOSCHED_DEADLINE=y
CONFIG_MQ_IOSCHED_KYBER=y
CONFIG_MSDOS_PARTITION=y
CONFIG_NEED_PER_CPU_KM=y
CONFIG_NOCONFIG_CHAN=y
CONFIG_NO_DMA=y
CONFIG_NO_IOMEM=y
CONFIG_NR_CPUS=1
CONFIG_OPTIMIZE_INLINING=y
CONFIG_PANIC_ON_OOPS_VALUE=0
CONFIG_PANIC_TIMEOUT=0
CONFIG_PGTABLE_LEVELS=3
CONFIG_PHYS_ADDR_T_64BIT=y
CONFIG_PLUGIN_HOSTCC=""
CONFIG_PREEMPT_NONE=y
CONFIG_PROC_FS=y
CONFIG_RT_MUTEXES=y
CONFIG_SBITMAP=y
CONFIG_SCHED_DEBUG=y
CONFIG_SCSI_MOD=y
CONFIG_SLAB_MERGE_DEFAULT=y
CONFIG_SLOB=y
CONFIG_SPLIT_PTLOCK_CPUS=4
CONFIG_SRCU=y
CONFIG_SSL_CHAN="pty"
CONFIG_STACKTRACE_SUPPORT=y
CONFIG_STACKTRACE=y
CONFIG_STATIC_LINK=y
CONFIG_SWAP=y
CONFIG_TICK_CPU_ACCOUNTING=y
CONFIG_TINY_RCU=y
CONFIG_TINY_SRCU=y
CONFIG_TRACE_IRQFLAGS_SUPPORT=y
CONFIG_TRACING_SUPPORT=y
CONFIG_TTY=y
CONFIG_UBSAN_ALIGNMENT=y
CONFIG_UML_X86=y
CONFIG_UML=y
CONFIG_UNIX98_PTYS=y
CONFIG_USB_OHCI_LITTLE_ENDIAN=y
CONFIG_X86_64=y
CONFIG_X86_CMOV=y
CONFIG_X86_CMPXCHG64=y
CONFIG_X86_INTERNODE_CACHE_SHIFT=6
CONFIG_X86_L1_CACHE_SHIFT=6
CONFIG_X86_MINIMUM_CPU_FAMILY=64
CONFIG_X86_TSC=y
